:root {
    --color-ban-1: #4C6FFF1A;
    --color-ban-2: #EDC7001A;
    --color-ban-3: #ED72001A;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .primary__button {
        @apply flex items-center hover:text-primary text-sm border border-primary transition-all ease-linear hover:bg-transparent text-white bg-primary rounded py-2 px-8 text-sm gap-2
    }

    .secondary__button {
        @apply flex items-center py-[9px] px-8 bg-[#EDF1FD] rounded text-primary transition-all ease-linear;
    }

    .secondary__button:hover {
        @apply bg-blue-200
    }

    .icons {
        @apply text-xl mr-2.5
    }

    .hover-primary__buttons {
        @apply hover:text-primary hover:bg-transparent border border-primary transition transition-all ease-linear
    }

    .modal-wrapper-big {
        @apply py-7 px-8 min-w-[586px]
    }

    .modal-form__input {
        @apply bg-[#E0E7FF33] border border-[#E0E7FF] focus-within:bg-[#E0E7FF] rounded-md outline-none py-3 px-4 text-[15px] focus-within:border-primary
    }


    .modal-wrapper-inputs {
        @apply flex flex-col gap-y-7
    }

    .form-group__def {
        @apply flex items-center gap-1 modal-form__input
    }

    .def__input {
        @apply outline-0 border-0 bg-transparent
    }

    .separate__line {
        @apply mb-7 w-full h-[2px] bg-[#F5F5F7]
    }
}